<p>
  searchbox works!
  <app-autocomplete-location class="autocomplete-location"
                             (locationSelected)="fromLocationSelected($event)"
                             [placeholder]="'From'">
  </app-autocomplete-location>
  <app-autocomplete-location class="autocomplete-location"
                             (locationSelected)="toLocationSelected($event)"
                             [placeholder]="'To'">
  </app-autocomplete-location>
  <button (click)="launchSearch()">Find</button><br/>

  <button (click)="addFavorite()">Add to favorite</button>

  <app-itineraries [itineraries]="searchService.itineraries"></app-itineraries>

</p>
